<div class="bg-clip-border">
  <a class="w-full flex flex-col bg-[#E4E4E4] rounded-xl" href="/pools/<%= _id %>">
    <!-- Main section for picture -->
    <img class="rounded-t" src="../icons/image-placeholder.png" alt="">

    <!-- Title and description -->
    <div class="border-solid border-y-2 p-2">
      <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
        <%= title %>
      </h5>
      <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased text-ellipsis w-full h-26 line-clamp-2">
        <%= description || "(No Description)" %>
      </p>
    </div>

    <!-- Info section -->
    <div class="flex flex-col items-end p-2">
      <a href="/profile/<%= user.userId %>" class="font-bold"><%= user.username %></a>
      <p><%= new Date(date).toLocaleDateString() %></p>
    </div>

    <!-- Media count section -->
    <ul class="w-full flex flex-row border-t-2 justify-between text-xl" id="selectionList-<%= _id %>">
      <li class="flex-grow text-center border-r-2 cursor-pointer p-2">Images (<%= images.length %>)</li>
      <li class="flex-grow text-center border-solid border-r-2 cursor-pointer p-2">Videos (<%= videos.length %>)</li>
      <li class="flex-grow text-center border-solid border-r-2 cursor-pointer p-2">Audios (<%= audios.length %>)</li>
      <li class="flex-grow text-center cursor-pointer p-2">Journals (<%= journal.length %>)</li>
    </ul>
  </a>
</div>
