<div class="flex items-center">
    <button onclick="vote(true, { id: '<%= id %>', documentType: '<%= documentType %>' })" class=" inline-flex items-center cursor-pointer">
        <img class="inline-block h-8 w-8" src="../icons/arrows/upvote.svg" alt="upvote button">
    </button>

    <!-- Vote counter -->
    <span class="text-gray-600 text-sm font-bold text-center px-2 <%= voteCount > 0 ? 'text-green-600' : voteCount === 0 ? 'text-gray-600' : 'text-red-600' %>" id="vote-count-<%= id %>"><%= voteCount %></span>
    
    <button onclick="vote(false, { id: '<%= id %>', documentType: '<%= documentType %>' })" class="inline-flex items-center cursor-pointer">
        <img class="inline-block h-8 w-8" src="../icons/arrows/downvote.svg" alt="downvote button">
    </button>
</div>