<h1 class="flex justify-center py-2">Search</h1> 

<%- include('./partials/searchForm.ejs') %>
<div>
    <hr class="my-4 border">
    <div class="flex justify-between items-center px-8">
        <b class="text-2xl">Result count: <span class="text-green-400"><%= response.totalDocuments %></span></b>

        <!-- Pagination -->
        <div class="flex justify-center">
            <button class="rounded-lg bg-gray-400 px-4 py-2 hover:bg-gray-500 hover:text-green-400" onclick="pagination(false, '<%= response.page %>', '<%= response.pageCount %>')"><</button>
            <div class="flex items-center"><span class="mx-2"><%= response.page %> / <%= response.pageCount %></span></div>
            <button class="rounded-lg bg-gray-400 px-4 py-2 hover:bg-gray-500 hover:text-green-400" onclick="pagination(true, '<%= response.page %>', '<%= response.pageCount %>')">></button>
        </div>
    </div>
    <hr class="my-4 border">
    
    <div class="grid grid-cols-3 gap-4 p-8">
        <!-- Finish file display -->
        <% if (searchResults.length) { %>
            <% searchResults.map(data => { %>
                <div class="mb-8">                                                    <!--! Finish thumbnail display -->
                    <%- include('./partials/mediaCard.ejs', { ...data, query, thumbnail: null }) %>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>

<script>
    function pagination(isNextPage, currentPage, totalPages) {
        // Prevent string addition
        currentPage = parseInt(currentPage)

        const oldQuery = new URLSearchParams(window.location.search);

        // Goofy ahh logic
        if (isNextPage) {
            if (currentPage + 1 > totalPages) return
            oldQuery.set('page', currentPage + 1);
        } else {
            if (currentPage - 1 < 1) return
            oldQuery.set('page', currentPage - 1);
        }

        // Route to the new location
        const newQuery = oldQuery.toString();
        window.location.search = newQuery
    } 
</script>


    <!-- I might use this for something else at some point -->
<!-- <div class='max-w-md mx-auto'>
    <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden">
        <input
        class="peer h-full w-full outline-none text-sm text-gray-700 px-2"
        type="text"
        id="search"
        placeholder="Search something..." /> 

        <div class="grid place-items-center h-full w-12 text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>
    </div>
</div> -->